DB_HOST=localhost
DB_DATABASE=lti-library-resources
DB_URL=mongodb://localhost:27017
DB_USER=
DB_PASS=
LTI_KEY=YOURKEY
PLATFORM_URL=http://localhost:8000
PLATFORM_CLIENTID=
PLATFORM_ENDPOINT=http://localhost:8000/mod/lti/auth.php
PLATFORM_TOKEN_ENDPOINT=http://localhost:8000/mod/lti/token.php
PLATFORM_KEY_ENDPOINT=http://localhost:8000/mod/lti/certs.php
MODE=development
DEBUG='provider:*,registrar'
# Registrar web services.
REG_WS_API_URL=https://webservicesqa.it.ucla.edu
REG_WS_CERT_NAME=/replace/with/pathto/file.cer
REG_WS_PRIVATE_KEY=/replace/with/pathto/file.key
REG_WS_CLIENT_ID=
REG_WS_SECRET=
# Research guides LTI configuration. (This is a test tool for now.)
RG_LTI_LAUNCH=https://lti.tools/saltire/tp
RG_LTI_CONSUMER_KEY=jisc.ac.uk
RG_LTI_SECRET=secret
